@page "{NodeId:int?}"
@model Asp.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>ФИО      : @Model.node.Unit.name</div>
<div>Должность: @Model.node.Unit.type</div>

<a asp-page="../Index" class="btn btn-dark">Return to tree</a>

