<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Database" connectionString="server=localhost;user id=root;database=satana;persistsecurityinfo=True;password=rhadamanthus1" providerName="MySql.Data.MySqlClient" />
    <add name="Host" connectionString="http://+:1235" />
   </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>