.partial {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    min-height: 30px;
    width: 150px;
    margin-left: 150px;
    margin-bottom: 3px;
    padding-bottom: 2px;
    text-align: center;
}

.partial-text-id {
    color: black;
    background: aquamarine;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.btn-text {
    color: black;
}

.btn-additional-style {
    display: flex;
    margin: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}